<a href="https://colab.research.google.com/github/Arsal96/daily-python/blob/main/16_Simple_pattern_printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(1,6):
  print('*'*i)

*
**
***
****
*****

In [6]:
for row in range(0,5):
  for col in range(0, row+1):
    print(col, end=' ') 

  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [12]:
temp = 1
for row in range(1,5):
  
  for col in range(1,row+1):
    print(temp, end=' ')
    temp = temp +1

  print()

1
2 3
4 5 6
7 8 9 10

In [17]:
ch = 65
for row in range(0,5):
  
  for col in range(0, row+1):
    print(chr(ch), end=' ')
    ch  = ch+1

  print()

A
B C
D E F
G H I J
K L M N O