<a href="https://colab.research.google.com/github/Arsal96/daily-python/blob/main/1_Print_spaces.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Example 1: A simple way to print spaces

In [ ]:
print(' ')
print("")
print("Hello World")
print("Hello  World")

Hello World
Hello  World

##Example 2: Printing spaces between two values while printing in a single print statement

### When we print multiple values separated by the commands using the print statement â€“ Python default print a between them.

In [ ]:
x = 10
y = 20

print('x:',x)
print("y:",y)

x: 10
y: 20

##Example 3: Give multiple spaces between two values


###To give multiple spaces between two values, we can assign space in a variable, and using the variable by multiplying the value with the required spaces. For example, there is a variable space assigned with space and we need to print 5 spaces - we can use space*5 and it will print the 5 spaces

In [ ]:
space = ' '
print('Hello',space,'World')
print('Hello',space*5,'World') # 7 space (comma takes 1 space)

space ='#'
print('Hello',space,'World')
print('Hello',space*5,'World')

x = 10
y = 20
space = ' '
print('x:',space,x)
print('y',space,y)

Hello   World
Hello       World
Hello # World
Hello ##### World
x:   10
y   20