<a href="https://colab.research.google.com/github/Arsal96/daily-python/blob/main/4_Printing_different_values_(integer%2C_float%2C_string%2C_Boolean).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(12)
print(12.5)
print('Hello')
print(True)

12
12.5
Hello
True

## Arithmetic operations inside the print() on values

In [ ]:
print(12+10)
print(12.5+7.5)
print('Hello'+'World')
print(True+False)

22
20.0
HelloWorld
1

## Printing different types of variables

In [ ]:
a = 20
b = 50.4
c = 'I love Python'
d = True

print(a,b,c,d, sep='\n')

20
50.4
I love Python
True

## Printing different types of variables along with the messages

In [ ]:
# variable with integer value
a=12
# variable with float value
b=12.56
# variable with string value
c="Hello"
# variable with Boolean value
d=True

# printing values with messages 
print("Interger:\t",a)
print("Float:\t",b)
print("String:\t",c)
print('Bool:\t',d)

Interger:	 12
Float:	 12.56
String:	 Hello
Bool:	 True

## Printing different types of variables with messages and converting them to string using "str()" function

In [ ]:
# variable with integer value
a=12
# variable with float value
b=12.56
# variable with string value
c="Hello"
# variable with Boolean value
d=True

# printing values with messages 

print('Interger:\t', str(a))
print('Float:\t', str(b))
print('String:\t', str(c))
print('Boolean:\t', str(d))

Interger:	 12
Float:	 12.56
String:	 Hello
Boolean:	 True