<a href="https://colab.research.google.com/github/Arsal96/daily-python/blob/main/5_Declare_different_types_of_variables%2C_print_their_values%2C_types_and_Ids.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There are two inbuilt functions are using in the program:

* type() - its returns the data type of the variable/object.

* id() - it returns the unique identification number (id) of created object/variable.

In [ ]:
print('Numbers')
print('---------------------------------')
a = 100
print(type(a), id(a), a)
a = 20.5
print(type(a), id(a), a)
a = 2+5j
print(type(a),id(a),a)

Numbers
---------------------------------
<class 'int'> 93903761061472 100
<class 'float'> 140250245099312 20.5
<class 'complex'> 140250245099376 (2+5j)

In [ ]:
print('\nText')
print('---------------------------------')
a = 'h'
print(type(a), id(a), a)
a = "h"
print(type(a), id(a), a)
a = 'Hello'
print(type(a), id(a), a)
a = "Hello"
print(type(a), id(a), a)

Text
---------------------------------
<class 'str'> 140250842419632 h
<class 'str'> 140250842419632 h
<class 'str'> 140250245077616 Hello
<class 'str'> 140250245077616 Hello

In [ ]:
print('\nBoolean')
print("--------------------------------")
a = True
print(type(a), id(a), a)

Boolean
--------------------------------
<class 'bool'> 93903760384256 True

In [ ]:
print("\nFunction")
print('-------------------------------')
def fun():
  return 'This is Function'
a = fun()
print(type(a), id(a), a)

Function
-------------------------------
<class 'str'> 140250208656240 This is Function

In [ ]:
print('\nObject')
print('-------------------------------')

class myClass:
  def hi(self):
    return 'Hi'

a = myClass()

print(type(a), id(a), a.hi())

Object
-------------------------------
<class 'type'> 93903798333664 Hi