<a href="https://colab.research.google.com/github/Arsal96/daily-python/blob/main/9_Typecasting_Input_to_Integer%2C_Float.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Typecasting input to integer

In [1]:
num = int(input('input any value: '))
print(type(num))

input any value: 779
<class 'int'>

## Typecasting Input to float

In [2]:
num = float(input('input any value: '))
print(type(num))

input any value: 798.99
<class 'float'>